@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Virgil";
  font-display: swap;
  src: url(/fonts/Virgil.woff2) format("woff2");
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  color: #202020;
  @apply font-sans dark:text-white;
}

::selection {
  color: black;
  @apply bg-gray-300 dark:bg-gray-400;
}

.noselect {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#nprogress .bar: {
  z-index: 99999;
}

@layer base {
  h1 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h3 {
    @apply text-xl font-bold md:text-3xl;
  }

  h4 {
    @apply text-lg font-bold md:text-xl;
  }
}

.container {
  @apply max-w-5xl;
}
