@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Virgil";
  font-display: swap;
  src: url(/fonts/Virgil.woff2) format("woff2");
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #202020;
  @apply font-sans dark:text-white dark:bg-dark;
}

::selection {
  color: black;
  @apply bg-gray-300 dark:bg-gray-400;
}

.noselect {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#nprogress .bar {
  z-index: 99999;
}

@layer base {
  h1 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h3 {
    @apply text-xl font-bold md:text-3xl;
  }

  h4 {
    @apply text-lg font-bold md:text-xl;
  }
}

@layer utilities {
  .scroll-margin-nav {
    scroll-margin-top: 46px;
  }
  @screen md {
    .scroll-margin-nav {
      scroll-margin-top: 66px;
    }
  }
}

.container {
  @apply max-w-5xl;
}
.prose blockquote {
  @apply border-dashed;
}

.prose pre {
  @apply border-2 border-dashed border-gray-200 bg-gray-50 dark:border-light dark:bg-[#1D1F21];
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-light rounded-md bg-gray-100 dark:bg-[#1D1F21];
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-500;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t dark:text-gray-200 dark:border-light dark:bg-[#2d2d2d];
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}
